.card-body{

    text-align: center;
 
    font-size: 40px;
    color: white;
}

.card{
    background: transparent;
    border: none;
    margin-bottom: 6px;
}

.card-img, .card-img-top{
    border-radius: 43px;
}